{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
  <div id="content-main">
    <h1>{{ cl.opts.verbose_name_plural|capfirst }}</h1>

    {% if has_add_permission %}
      <ul class="object-tools">
        <li>
          <a href="{% url cl.opts|admin_urlname:'add' %}" class="addlink">
            {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
          </a>
        </li>
      </ul>
    {% endif %}

    <div class="module" id="changelist">
      <div class="changelist-form-container">
        {% if cl.result_list %}
          <ul>
            {% for obj in cl.result_list %}
              <li>
                <a href="{% url cl.opts|admin_urlname:'change' obj.pk|admin_urlquote %}">{{ obj }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% translate "No items found." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
